.menu-camera {
    height: 270px;
    background: linear-gradient(to right, #0e1015 , #2f3a46);
    color: #ffffff;
    font-family: "Hiragino";
}

.menu-cam-bd {
    border-radius: 12px;
    border: #82f0ff solid 1px;
}

.menu-cam-header {
    width: 158px;
    height: 32px;
}

.menu-cam-line {
    width: 158px;
    height: 30px;
    font-size: 15px;
    list-style-type: none;
}

.menu-cam-item {
    list-style-type: none;
}

.menu-cam-link {
    color: #ffffff;
    text-decoration: none;
}

.menu-cam-link:hover {
    color: #ffffff;
}

.context-menu-head {
    height: 32px;
}

.menu-cam-allow-hover:hover {
    background: linear-gradient(to right, #64c8ff , #3082a5);
    opacity: 1;
}

.menu-cam-allow-hover {
    background: linear-gradient(to right, #0e1015 , #2f3a46);
    color: #ffffff;
    opacity: 0.4;
    cursor: pointer;
}

.menu-cam-children {
    display: none;
    position: absolute;
    left: 100%;
    top: 32px;
    margin: 0;
    padding: 0;
    z-index: 3;
    width: 194px;
    height: 158px;
    background: linear-gradient(to right, #0e1015 , #2f3a46);
    border-radius: 12px;
    border: #82f0ff solid 1px;
}

.menu-cam-has-children:hover > .menu-cam-children {
    display: block;
    position: absolute;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 5px;
    width: 22px;
    height: 22px;
    opacity: 0.4;
}

.close-btn:hover {
    opacity: 0.7;
}

.close-btn:before, .close-btn:after {
    position: absolute;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: #ffffff;
}

.close-btn:before {
    transform: rotate(45deg);
}

.close-btn:after {
    transform: rotate(-45deg);
}

.zoomable-control-view {
    width: 170px;
    height: 100px;
    background-color: #7a8697;
    margin: 8px auto 5px auto;
}

.zoomable-control-bar{
    margin: auto;
}

.zoom-number{
    font-size: 18px;
    opacity: 0.4;
    margin-left: 3px;
}
.zoom-x{
    font-size: 10px;
    opacity: 0.4;
    margin-right: 3px;
}

.icon-line {
    margin-right: 8px;
}

.icon-22 {
    width: 22px;
    height: 22px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-34 {
    width: 34px;
    height: 34px;
}