[Unit]
Description=Go shell scripts 

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=${NVRPATH}/RTSPtoWeb_server/RTSPtoWeb

[Install]
WantedBy=multi-user.target
