[Unit]
Description=Python server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 $NVRPATH/backend/app.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
