.space-align-block {
    flex: none;
    margin-left: 5px;
    border: 1px solid #d9d9d9;
    width: 390px;
    height: 220px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.row-block {
    display: inline-flex;
}