.record-container {
    position: relative;
    max-width: 1366px;
    width: 100%;
    max-height: 768px;
    height: 100%;
}

.controlBarContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.videoContainer:hover + .controlBarContainer {
    opacity: 0.8;
    transition: .1s;
}

.controlBar:hover {
    opacity: 0.8;
    transition: .1s;
}

.controlBar {
    opacity: 0;
    transition: all .4s ease 5s;
    background: #3a414b;
    width: 683px;
    /*opacity: 0.8;*/
    position: absolute;
    bottom: 0;
    left: 25%;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 0px;
    animation-delay: 1s;
}

.ant-select-selector {
    background: #3a414b !important;
    color: white
}

.search-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;

}

.search-menu {
    position: absolute;
    background: #3a414b;
    width: 500px;
    height: 400px;
    overflow: auto;
}

.search-menu-container:hover {
    opacity: 0.8;
}

.i-thumbnail {
    width: 14% !important;
}
